.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-1);
  color: var(--white);
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);

  & a,
  button {
    background-color: var(--color-4);
    color: var(--color-1);
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
  }

  & a:hover,
  button:hover {
    background-color: var(--color-1);
    color: var(--white);
    border: 1px solid var(--white);
  }
}

@media (max-width: 480px) {
  .container {
    font-size: 0.8rem;
    justify-content: space-between;
    padding: 0.5rem;

    & a,
    button {
      padding: 0.3rem 0.5rem;
    }
  }
}
