.divForm {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafaf5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1000;

  & .contentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    max-width: 90%;
    max-height: 90vh;
    background-image: url("../../../assets/bg/bg-bootm1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: var(--gray);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 3rem 1.5rem;
    box-shadow: 0 0 8px #acacac;
    z-index: 5;

    & h2 {
      text-align: center;
      color: var(--text-1);
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    & p {
      font-size: 0.9rem;
      text-align: center;
      margin-bottom: 1.2rem;
      color: var(--text-2);
      line-height: 150%;
    }

    & .formGetData {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-height: 50vh;

      & .inputs {
        width: 100%;
        overflow-y: auto;
        margin-bottom: 1rem;
        position: relative;

        & .addName {
          background-color: var(--color-3);
          border: 1px solid var(--border-color);
          padding: 0.75rem 1rem;
          cursor: pointer;
          width: 100%;
          border-radius: 1.5rem;
        }

        & .removeFiel {
          position: absolute;
          right: 10px;
          border: none;
          background-color: transparent;
          margin-top: 0.75rem;
        }
      }

      & .btnClose {
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        background-color: transparent;
        border: 0;
        color: var(--text-1);
        font-size: 2rem;
        cursor: pointer;
      }

      & label {
        display: flex;
        flex-direction: column;
        color: var(--text-2);
        width: 100%;

        & span {
          padding: 0 0 0.2rem 0.2rem;
          font-size: 0.8rem;
        }

        & input {
          padding: 0.75rem;
          border-radius: 1.5rem;
          border: 0;
          margin-bottom: 1rem;
          font-size: 1rem;
          background-color: var(--color-5);
          border: 1px solid var(--border-color);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .divForm {
    & .contentForm {
      & h2 {
        font-size: 1.3rem;
      }
    }
  }
}

/* @media (max-height: 900px) {
  .divForm {
    & .formGetData {
      padding-top: 22rem;
    }
  }
} */
