.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-4);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
}

.content {
  margin-bottom: 1.5rem;

  & h3 {
    font-size: 2.5rem;
    color: var(--text-1);
    margin-bottom: 0.5rem;
  }

  & p {
    color: var(--text-2);
  }
}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  & .box {
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 1rem;

    & iframe {
      width: 100%;
      height: 290px;
      border-radius: 1rem;
      border: 1px solid var(--divider-color);
    }

    & h3 {
      font-size: 1.2rem;
      color: var(--text-1);
      margin-left: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 880px) {
  .container {
    & .content {
      & h3 {
        font-size: 2rem;
      }
    }
  }
  .boxes {
    flex-direction: column;
    & .box {
      width: 100%;
      & iframe {
        height: 200px;
      }
    }
  }
}
