.container {
  padding: 1.5rem;
  background-color: var(--color-4);
  border-radius: 1rem;
  & p {
    color: var(--text-2);
    line-height: 150%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  & .buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
}

.desktop {
  display: block;
  margin: -1.5rem 0;
}

.mobile {
  display: none;
}

@media (max-width: 950px) {
  .buttons {
    flex-direction: column;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin: -1.5rem 0;
  }
}
