.button {
  position: fixed;
  right: 10px;
  top: 80%;
  z-index: 1000;
  background-color: var(--gray);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  font-size: 2.5rem;
  color: var(--button-primary);
  cursor: pointer;
}
