.box {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  /* background-color: var(--color-4); */
  background-image: var(--gradient-2);
  border: 1px solid var(--border-color);

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
  }
}

.content {
  width: 400px;
  max-width: 100%;

  & h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--text-1);
  }

  & p {
    color: var(--text-2);
    line-height: 150%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
